:root {
    --cor-do-texto: hsl(193, 38%, 86%);
    --cor-do-botão-card-texto: hsl(150, 100%, 66%);
    --cor-do-card: hsl(217, 19%, 24%);
    --cor-de-fundo: hsl(218, 23%, 16%);
}

body {
    font-family: "Manrope", sans-serif;
    font-weight: 800;
    background-color: var(--cor-de-fundo);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartao {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor-do-card);
    border-radius: 5%;
    text-align: center;
    max-width: 450px;
    padding: 20px;
}

.cartao .numero-conselho {
    color: var(--cor-do-botão-card-texto);
    text-transform: uppercase;
    letter-spacing: 8px;
    font-size: 15px;
    padding: 30px;
}

.cartao .conselho {
    color: var(--cor-do-texto);
    font-size: 23px;
    text-align: center;
    padding: 20px;
}

.cartao picture img {
    width: 100%;

}

.cartao .botao {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transform: translateY(80%);
    background-color: var(--cor-do-botão-card-texto);
    border: none;
}

.cartao .botao:hover {
    cursor: pointer;
    color: var(--cor-do-botão-card-texto);
    box-shadow: 0 5px 15px;
}